.container {
  position: absolute;
  height: 90%;
  width: 100%;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.formItem {
  padding: 20px;
}

/*      Question & Solution currently not implemented

.oneLiners {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 60%;
}

.questionContainer {
  flex-grow: 0.15;
}

.biggerContainer {
  flex-grow: 1;
}


#question,
#solution {
  width: 100%;
  height: 100%;
}
*/

#title,
#tags {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.4s;
  font-size: 20px;
}

#title:focus,
#tags:focus {
  border: solid 5px #969696;
}

button {
  font-size: 24px;
  border-radius: 1px;
  border-width: medium;
  border-color: white;
  background-color: white;
  color: #232C39;
  padding: 10px;
  padding-left: 17px;
  padding-right: 17px;
}
